$color_1: #ffff;
$color_2: #a7abc3;
$color_3: #93959e;
$color_4: #16335b;
$color_5: #585a62;

.vqn-login.vqn-login--v5 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .btn {
        height: 40px;
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    .vqn-login__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 50%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .vqn-login__wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 500px;

            .vqn-login__content {
                text-align: center;
                padding: 1rem 1.5rem;

                .vqn-login__title {
                    margin: 5rem 0 2rem 0;
                    color: $color_1;
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                .vqn-login__desc {
                    color: $color_2;
                    font-size: 1rem;
                }

                .vqn-login__actions {
                    margin: 3.4rem 0 3rem 0;
                    text-align: center;
                }
            }
        }

        .vqn-get-shit-done {
            color: #FFFFFF;
            font-size: 76px;
            font-weight: 600;
            text-align: center;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
            text-transform: uppercase;
            z-index: 3;
            display: block;
            margin: 0 auto;
            position: relative;
            width: 306px;

            .no-right-border {
                border-right: none;
            }

            .border {
                float: left;
                border: 3px solid #FFFFFF;
                padding: 0px 30px;
                text-align: center;
            }
        }
    }

    .vqn-login__divider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        >div {
            height: 400px;
            background: #ffffff;
            width: 30px;
            -webkit-box-shadow: -19px 0 35px -7px #F5F5F5;
            box-shadow: -19px 0 35px -7px #F5F5F5;
        }
    }

    .vqn-login__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .vqn-login__wrapper {
            width: 22%;
            position: absolute;
            top: 35%;
            right: 68px;

            .vqn-login__head {
                text-align: center;
                color: white;
                font-size: 24px;
                font-weight: 600;
            }

            .vqn-login__logo {
                text-align: center;
                // margin: 0 auto 4rem auto;
            }

            .vqn-login__title {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 500;
                color: $color_1;
            }

            .vqn-login__desc {
                margin-top: 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                color: $color_2;
            }

            .vqn-login__form {
                margin-top: 2rem;

                .form-group {
                    margin: 0;
                    padding: 0;
                }

                .form-control {
                    height: 40px;
                    border-radius: 25px;
                    border: none;
                    width: 50% !important;
                    // border: 0.07rem solid #ebecf1 !important;
                    padding: 1rem 1rem;
                    margin-top: 1rem;

                    &::-moz-placeholder {
                        color: $color_3;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: $color_3;
                    }

                    &::-webkit-input-placeholder {
                        color: $color_3;
                    }

                    &:focus {
                        &::-moz-placeholder {
                            color: $color_4;
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            color: $color_4;
                        }

                        &::-webkit-input-placeholder {
                            color: $color_4;
                        }
                    }
                }

                .form-control.form-control-last {
                    border-bottom: 0 !important;
                }

                .form-control.is-valid {
                    &+.valid-feedback {
                        font-weight: 500;
                        font-size: 0.9rem;
                        padding-left: 1.6rem;
                    }
                }

                .form-control.is-invalid {
                    &+.invalid-feedback {
                        font-weight: 500;
                        font-size: 0.9rem;
                        padding-left: 1.6rem;
                    }
                }
            }

            .vqn-login__extra {
                margin-top: 0.5rem;
                color: $color_5;

                .vqn-checkbox {
                    font-size: 1rem;
                }

                .vqn-link {
                    font-size: 1rem;
                }
            }

            .vqn-login__actions {
                margin: 1.5rem 1.5rem 0;
                text-align: center;
            }

            .vqn-login__account {
                text-align: center;

                .vqn-login__account-msg {
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                .vqn-login__account-link {
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }
        }
    }
}

.vqn-login.vqn-login--v5.vqn-login--signin {
    .vqn-login__signin {
        display: block;
    }

    .vqn-login__forgot {
        display: none;
    }
}

.vqn-login.vqn-login--v5.vqn-login--forgot {
    .vqn-login__signin {
        display: none;
    }

    .vqn-login__forgot {
        display: block;
    }
}

@media (max-width: 1024px) {
    .vqn-login.vqn-login--v5 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .vqn-login__left {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 100%;
            margin: 0 auto;
            padding-top: 2.5rem;

            .vqn-login__wrapper {
                padding-bottom: 0;
                margin: 0 auto;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                .vqn-login__contanier {
                    padding: 1rem;
                    width: 100%;
                    margin-top: 3rem;

                    .vqn-login__content {
                        width: 100%;
                    }
                }
            }


        }

        .vqn-login__right {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: 2.5rem;

            .vqn-login__contanier {
                width: 100%;
                margin: 0 auto;
                padding: 1rem;

                .vqn-login__actions {
                    .btn {
                        padding: 1rem 1.95rem;
                        margin-right: 0.5rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .vqn-login__divider {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-top: 0;
            width: 60%;
            margin: 20px auto;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            >div {
                height: 30px;
                background: #ffffff;
                width: 100%;
                -webkit-box-shadow: 0 -15px 30px -7px #F5F5F5;
                box-shadow: 0 -15px 30px -7px #F5F5F5;
            }
        }
    }
}

.vqn-form-login {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;

    .vqn-form-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #4c5053;
        border-bottom: 1px solid rgba(0, 0, 0, .125);

        h3 {
            color: white;
            font-size: 1.75rem;
        }
    }

    .vqn-form-body {
        text-align: center;

        .vqn-login__form {
            margin-top: 2rem;

            .form-group {
                margin: 0;
                padding: 0;
            }

            .form-control {
                height: 40px;
                border-radius: 25px;
                border: none;
                width: 70% !important;
                // border: 0.07rem solid #ebecf1 !important;
                padding: 1rem 1rem;
                margin: 1rem auto auto auto;

                &::-moz-placeholder {
                    color: $color_3;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: $color_3;
                }

                &::-webkit-input-placeholder {
                    color: $color_3;
                }

                &:focus {
                    &::-moz-placeholder {
                        color: $color_4;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: $color_4;
                    }

                    &::-webkit-input-placeholder {
                        color: $color_4;
                    }
                }
            }

            .form-control.form-control-last {
                border-bottom: 0 !important;
            }

            .form-control.is-valid {
                &+.valid-feedback {
                    font-weight: 500;
                    font-size: 0.9rem;
                    padding-left: 1.6rem;
                }
            }

            .form-control.is-invalid {
                &+.invalid-feedback {
                    font-weight: 500;
                    font-size: 0.9rem;
                    padding-left: 1.6rem;
                }
            }

            .vqn-login__actions {
                margin: 2rem auto 3rem auto;
                text-align: center;
            }
        }
    }

    .vqn-form-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0, 0, 0, .03);
        border-top: 1px solid rgba(0, 0, 0, .125);
        color: white;
    }
}

.justify-content-end {
    justify-content: flex-end !important;
}

.d-flex {
    // display: -ms-flexbox !important;
    display: flex !important;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -25px;
}

.social_icon span {
    margin-left: 10px;
}
