<!-- begin:: Page -->
<div class="vqn-grid vqn-grid--hor vqn-grid--root">
    <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--ver vqn-page">
        <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--hor vqn-wrapper">
            <!-- begin::Container -->
            <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--ver vqn-grid--stretch">
                <router-outlet></router-outlet>
            </div>
            <!-- end::Container -->
        </div>
    </div>
</div>
<!-- end:: Page -->