<!-- begin:: Page -->
<div class="sss-grid sss-grid--hor sss-grid--root">
    <div class="sss-grid__item sss-grid__item--fluid sss-grid sss-grid--ver sss-page">
        <div class="sss-grid__item sss-grid__item--fluid sss-grid sss-grid--hor sss-wrapper">
            <!-- begin::Container -->
            <div class="sss-grid__item sss-grid__item--fluid sss-grid sss-grid--ver sss-grid--stretch">
                <router-outlet></router-outlet>
            </div>
            <!-- end::Container -->
        </div>
    </div>
</div>
<!-- end:: Page -->