<div class="vqn-header__top">
    <div class="vqn-container">
        <!-- begin:: Brand -->
        <div class="vqn-header__brand   vqn-grid__item" id="sss_header_brand">
            <div class="vqn-header__brand-logo">
                <a href="/trang-chu">
                    <img alt="Logo" src="/assets/media/logos/" class="vqn-header__brand-logo-default" />
                    <img alt="Logo" src="/assets/media/logos/" class="vqn-header__brand-logo-sticky" />
                </a>
            </div>
        </div>
        <!-- end:: Brand -->

        <!-- begin:: Header Topbar -->
        <div class="vqn-header__topbar">
            <!--begin: Document bar -->
            <div class="vqn-header__topbar-item vqn-header__topbar-item--user">
                <div class="vqn-header__topbar-wrapper vqn-padding-l-15 vqn-padding-r-5">
                    <a href="https://drive.google.com/drive/folders/1yI_DHD05QmcDHQhJjjci_J0gZ2KWjEZG?usp=sharing"
                        class="vqn-header__topbar-username" target="_blank">
                        Tài liệu hướng dẫn
                    </a>
                </div>
            </div>
            <!--end: Document bar -->

            <!--begin: Notifications -->
            <div class="vqn-header__topbar-item dropdown">
                <div class="vqn-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                    <span class="vqn-header__topbar-icon  vqn-pulse vqn-pulse--warning">
                        <vqn-icon-header-group name="dn-notification" width="20" height="20">
                        </vqn-icon-header-group>
                    </span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                    <form>
                        <!--begin: Head -->
                        <div class="vqn-head vqn-head--skin-dark vqn-head--fit-x vqn-head--fit-b"
                            style="background-image: url(assets/media/misc/bg-1.jpg)">
                            <h3 class="vqn-head__title">
                                User Notifications
                                <span class="btn btn-success btn-sm btn-bold btn-font-md">
                                    23 new
                                </span>
                            </h3>

                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success vqn-notification-item-padding-x"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab"
                                        href="#topbar_notifications_notifications" role="tab"
                                        aria-selected="true">Alerts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab"
                                        aria-selected="false">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab"
                                        aria-selected="false">Logs</a>
                                </li>
                            </ul>
                        </div>
                        <!--end: Head -->

                        <div class="tab-content">
                            <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                <div class="vqn-notification vqn-margin-t-10 vqn-margin-b-10 vqn-scroll"
                                    data-scroll="true" data-height="300" data-mobile-height="200">
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-line-chart vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New order has been received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                2 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-box-1 vqn-font-brand"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-chart2 vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Application has been approved
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-image-file vqn-font-warning"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New file has been uploaded
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                5 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-bar-chart vqn-font-info"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New user feedback received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                8 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-pie-chart-2 vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                System reboot has been successfully completed
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                12 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-favourite vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New order has been placed
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                15 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item vqn-notification__item--read">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-safe vqn-font-primary"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Company meeting canceled
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                19 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-psd vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New report has been received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                23 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon-download-1 vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Finance report has been generated
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                25 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon-security vqn-font-warning"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer comment recieved
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                2 days ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-pie-chart vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 days ago
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                <div class="vqn-notification vqn-margin-t-10 vqn-margin-b-10 vqn-scroll"
                                    data-scroll="true" data-height="300" data-mobile-height="200">
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-psd vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New report has been received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                23 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon-download-1 vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Finance report has been generated
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                25 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-line-chart vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New order has been received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                2 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-box-1 vqn-font-brand"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-chart2 vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Application has been approved
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-image-file vqn-font-warning"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New file has been uploaded
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                5 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-bar-chart vqn-font-info"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New user feedback received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                8 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-pie-chart-2 vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                System reboot has been successfully completed
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                12 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-favourite vqn-font-brand"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New order has been placed
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                15 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item vqn-notification__item--read">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-safe vqn-font-primary"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Company meeting canceled
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                19 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-psd vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New report has been received
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                23 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon-download-1 vqn-font-danger"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                Finance report has been generated
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                25 hrs ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon-security vqn-font-warning"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer comment recieved
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                2 days ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="vqn-notification__item">
                                        <div class="vqn-notification__item-icon">
                                            <i class="flaticon2-pie-chart vqn-font-success"></i>
                                        </div>
                                        <div class="vqn-notification__item-details">
                                            <div class="vqn-notification__item-title">
                                                New customer is registered
                                            </div>
                                            <div class="vqn-notification__item-time">
                                                3 days ago
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                <div class="vqn-grid vqn-grid--ver" style="min-height: 200px;">
                                    <div
                                        class="vqn-grid vqn-grid--hor vqn-grid__item vqn-grid__item--fluid vqn-grid__item--middle">
                                        <div class="vqn-grid__item vqn-grid__item--middle vqn-align-center">
                                            All caught up!
                                            <br>No new notifications.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end: Notifications -->

            <!--begin: User bar -->
            <div class="vqn-header__topbar-item vqn-header__topbar-item--user">
                <div class="vqn-header__topbar-wrapper vqn-padding-l-15" data-toggle="dropdown" data-offset="10px,10px"
                    aria-expanded="false">
                    <!-- <span class="vqn-header__topbar-welcome">Hi,</span> -->
                    <span class="vqn-header__topbar-username">VŨ QUANG NAM</span>
                    <!-- <img class="vqn-hidden" alt="Pic" src="/assets/media/users/300_21.jpg"> -->
                    <!--use below badge element instead the user avatar to display username's first letter(remove vqn-hidden class to display it) -->
                    <span
                        class="vqn-badge vqn-badge--username vqn-badge--unified-success vqn-badge--lg vqn-badge--rounded vqn-badge--bold vqn-hidden-">S</span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-md">

                    <!--begin: Navigation -->
                    <div class="vqn-notification">
                        <div [routerLink]="['/thong-tin-ca-nhan']" routerLinkActive="router-link-active"
                            class="vqn-notification__item pt-2 pb-2">
                            <div class="vqn-notification__item-icon">
                                <i class="flaticon2-calendar-3 vqn-font-dark"></i>
                            </div>
                            <div class="vqn-notification__item-details">
                                <div class="vqn-notification__item-title vqn-font-bold">
                                    Thông tin cá nhân
                                </div>
                            </div>
                        </div>
                        <div [routerLink]="['#']" routerLinkActive="router-link-active"
                            class="vqn-notification__item pt-2 pb-2">
                            <div class="vqn-notification__item-icon">
                                <i class="flaticon2-gear vqn-font-dark"></i>
                            </div>
                            <div class="vqn-notification__item-details">
                                <div class="vqn-notification__item-title vqn-font-bold">
                                    Cài đặt
                                </div>
                            </div>
                        </div>
                        <div [routerLink]="['#']" routerLinkActive="router-link-active"
                            class="vqn-notification__item pt-2 pb-2" href="javascript:;" (click)="logout()">
                            <div class="vqn-notification__item-icon">
                                <i class="flaticon-logout vqn-font-dark"></i>
                            </div>
                            <div class="vqn-notification__item-details">
                                <div class="vqn-notification__item-title vqn-font-bold">
                                    Đăng xuất
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--end: Navigation -->
                </div>
            </div>
            <!--end: User bar -->
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>