<div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--hor">
    <!-- begin:: Content Head -->
    <div class="vqn-subheader vqn-grid__item" id="vqn_subheader">
        <div class="vqn-subheader__main">
            <h3 class="vqn-subheader__title">Trang Chủ</h3>
            <!-- <span class="vqn-subheader__separator vqn-subheader__separator--v"></span> -->
            <!-- <span class="vqn-subheader__desc">#XRS-45670</span> -->
        </div>
        <div class="vqn-subheader__toolbar">
            <div class="vqn-subheader__wrapper">
                <div class="dropdown dropdown-inline" data-toggle="vqn-tooltip" title="Quick actions"
                    data-placement="left">
                    <button type="button" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="flaticon2-plus"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                        <!--begin::Nav-->
                        <ul class="vqn-nav">
                            <li class="vqn-nav__head">
                                Export Options:
                                <i class="flaticon2-correct vqn-font-warning" data-toggle="vqn-tooltip"
                                    data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="vqn-nav__separator"></li>
                            <li class="vqn-nav__item">
                                <a href="#" class="vqn-nav__link">
                                    <i class="vqn-nav__link-icon flaticon2-drop"></i>
                                    <span class="vqn-nav__link-text">Orders</span>
                                </a>
                            </li>
                            <li class="vqn-nav__item">
                                <a href="#" class="vqn-nav__link">
                                    <i class="vqn-nav__link-icon flaticon2-new-email"></i>
                                    <span class="vqn-nav__link-text">Members</span>
                                    <span class="vqn-nav__link-badge">
                                        <span class="vqn-badge vqn-badge--brand vqn-badge--rounded">15</span>
                                    </span>
                                </a>
                            </li>
                            <li class="vqn-nav__item">
                                <a href="#" class="vqn-nav__link">
                                    <i class="vqn-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="vqn-nav__link-text">Reports</span>
                                </a>
                            </li>
                            <li class="vqn-nav__item">
                                <a href="#" class="vqn-nav__link">
                                    <i class="vqn-nav__link-icon flaticon2-link"></i>
                                    <span class="vqn-nav__link-text">Finance</span>
                                </a>
                            </li>
                            <li class="vqn-nav__separator"></li>
                            <li class="vqn-nav__foot">
                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">
                                    More options
                                </a>
                                <a class="btn btn-clean btn-bold btn-sm vqn-hidden" href="#" data-toggle="vqn-tooltip"
                                    data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>
                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->

    <!-- begin:: Content -->
    <div class="vqn-content vqn-grid__item vqn-grid__item--fluid">
        <!--Begin::Dashboard 2-->
        <!-- <p>Hệ Thống Đang Trong Quá Trình Phát Triển</p> -->
        <!--End::Dashboard 2-->
    </div>
    <!-- end:: Content -->
</div>