<div class="sss-grid__item sss-grid__item--fluid sss-grid sss-grid--hor">
    <!-- begin:: Content Head -->
    <div class="sss-subheader sss-grid__item" id="sss_subheader">
        <div class="sss-subheader__main">
            <h3 class="sss-subheader__title">Trang Chủ</h3>
            <!-- <span class="sss-subheader__separator sss-subheader__separator--v"></span> -->
            <!-- <span class="sss-subheader__desc">#XRS-45670</span> -->
        </div>
        <div class="sss-subheader__toolbar">
            <div class="sss-subheader__wrapper">
                <a href="#" class="btn sss-subheader__btn-primary btn-icon">
                    <i class="flaticon2-file"></i>
                </a>

                <a href="#" class="btn sss-subheader__btn-primary btn-icon">
                    <i class="flaticon-download-1"></i>
                </a>

                <a href="#" class="btn sss-subheader__btn-primary btn-icon">
                    <i class="flaticon2-fax"></i>
                </a>

                <a href="#" class="btn sss-subheader__btn-primary btn-icon">
                    <i class="flaticon2-settings"></i>
                </a>

                <div class="dropdown dropdown-inline" data-toggle="sss-tooltip" title="Quick actions"
                    data-placement="left">
                    <button type="button" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="flaticon2-plus"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                        <!--begin::Nav-->
                        <ul class="sss-nav">
                            <li class="sss-nav__head">
                                Export Options:
                                <i class="flaticon2-correct sss-font-warning" data-toggle="sss-tooltip"
                                    data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="sss-nav__separator"></li>
                            <li class="sss-nav__item">
                                <a href="#" class="sss-nav__link">
                                    <i class="sss-nav__link-icon flaticon2-drop"></i>
                                    <span class="sss-nav__link-text">Orders</span>
                                </a>
                            </li>
                            <li class="sss-nav__item">
                                <a href="#" class="sss-nav__link">
                                    <i class="sss-nav__link-icon flaticon2-new-email"></i>
                                    <span class="sss-nav__link-text">Members</span>
                                    <span class="sss-nav__link-badge">
                                        <span class="sss-badge sss-badge--brand sss-badge--rounded">15</span>
                                    </span>
                                </a>
                            </li>
                            <li class="sss-nav__item">
                                <a href="#" class="sss-nav__link">
                                    <i class="sss-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="sss-nav__link-text">Reports</span>
                                </a>
                            </li>
                            <li class="sss-nav__item">
                                <a href="#" class="sss-nav__link">
                                    <i class="sss-nav__link-icon flaticon2-link"></i>
                                    <span class="sss-nav__link-text">Finance</span>
                                </a>
                            </li>
                            <li class="sss-nav__separator"></li>
                            <li class="sss-nav__foot">
                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">More
                                    options</a>
                                <a class="btn btn-clean btn-bold btn-sm sss-hidden" href="#" data-toggle="sss-tooltip"
                                    data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>
                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->

    <!-- begin:: Content -->
    <div class="sss-content sss-grid__item sss-grid__item--fluid">
        <!--Begin::Dashboard 2-->
        <p>Hệ Thống Đang Trong Quá Trình Phát Triển</p>
        <!--End::Dashboard 2-->
    </div>
    <!-- end:: Content -->
</div>