<div class="vqn-page__info vqn-group__wrapper">
    <div class="vqn-page-action" (click)="onChangePage(prev)" [title]="prev">
        <i class="la la-angle-left"></i>
    </div>
    <div class="vqn-page__value">
        <input (input)="onChangePage($event.target.value)" class="form-control" name="page" [value]="page" type="text">
    </div>
    <div class="vqn-page-action" (click)="onChangePage(next)" [title]="next">
        <i class="la la-angle-right"></i>
    </div>
    <div class="dropdown dropdown-inline" data-toggle="vqn-tooltip" data-placement="left">
        <span class="btn btn-page__limit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-eye"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 5rem">
            <!--begin::Nav-->
            <ul class="vqn-nav">
                <li (click)="onChangeLimit(20)" class="vqn-nav__item" [class.active]="limit == 20">
                    <a class="vqn-nav__link">
                        <span class="vqn-nav__link-text">20</span>
                    </a>
                </li>
                <li (click)="onChangeLimit(30)" class="vqn-nav__item" [class.active]="limit == 30">
                    <a class="vqn-nav__link">
                        <span class="vqn-nav__link-text">30</span>
                    </a>
                </li>
                <li (click)="onChangeLimit(50)" class="vqn-nav__item" [class.active]="limit == 50">
                    <a class="vqn-nav__link">
                        <span class="vqn-nav__link-text">50</span>
                    </a>
                </li>
                <li (click)="onChangeLimit(100)" class="vqn-nav__item" [class.active]="limit == 100">
                    <a class="vqn-nav__link">
                        <span class="vqn-nav__link-text">100</span>
                    </a>
                </li>
                <li (click)="onChangeLimit(500)" class="vqn-nav__item" [class.active]="limit == 500">
                    <a class="vqn-nav__link">
                        <span class="vqn-nav__link-text">500</span>
                    </a>
                </li>
            </ul>
            <!--end::Nav-->
        </div>
    </div>
</div>