<div class="form-group vqn-group__wrapper">
    <div class="vqn-radio-inline">
        <label class="vqn-radio vqn-radio--success" *ngFor="let item of filters">
            <input (click)="onChangeType(item?.value)" type="radio" [checked]="item?.active" [value]="item?.value"
                name="radio">
            {{item?.name}}
            <span></span>
        </label>

        <label class="vqn-radio vqn-radio--success">
            <input type="radio" name="radio" #drp="bsDaterangepicker" (bsValueChange)="onChangeDate($event)"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY'}" bsDaterangepicker>
            Khác <span></span>
        </label>
    </div>
</div>