<div class="sss-header__bottom">
    <div class="sss-container">
        <!-- begin: Header Menu -->
        <button class="sss-header-menu-wrapper-close" id="sss_header_menu_mobile_close_btn"><i
                class="la la-close"></i></button>
        <div class="sss-header-menu-wrapper" id="sss_header_menu_wrapper">
            <div id="sss_header_menu" class="sss-header-menu sss-header-menu-mobile ">
                <ul class="sss-menu__nav ">
                    <li class="sss-menu__item  sss-menu__item--submenu sss-menu__item--rel"
                        data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="javascript:;" class="sss-menu__link sss-menu__toggle">
                            <sss-icon-header-group name="dn-home" width="20" height="20"></sss-icon-header-group>
                            <span class="sss-menu__link-text">Khách Hàng</span>
                            <i class="sss-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="sss-menu__submenu sss-menu__submenu--classic sss-menu__submenu--left">
                            <ul class="sss-menu__subnav">
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/khach-hang" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý khách hàng
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/nhom-khach-hang" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý nhóm khách hàng
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/loai-rank" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý Rank khách hàng
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sss-menu__item  sss-menu__item--submenu sss-menu__item--rel"
                        data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="javascript:;" class="sss-menu__link sss-menu__toggle">
                            <sss-icon-header-group name="dn-warehouse" width="20" height="20">
                            </sss-icon-header-group>
                            <span class="sss-menu__link-text">QL kho</span>
                            <i class="sss-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="sss-menu__submenu sss-menu__submenu--classic sss-menu__submenu--left">
                            <ul class="sss-menu__subnav">
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/ton-kho-nguyen-phu-lieu" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            QL nguyên phụ liệu
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/ton-kho-san-pham" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            QL sản phẩm bán sẵn
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/ton-kho-may-do" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            QL sản phẩm may đo
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Chuẩn bị sản xuất
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/xuat-kho" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Xuất kho
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/nhap-kho" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Nhập kho
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/kiem-kho" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Kiểm kho
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sss-menu__item  sss-menu__item--submenu sss-menu__item--rel"
                        data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                        <a href="javascript:;" class="sss-menu__link sss-menu__toggle">
                            <sss-icon-header-group name="dn-setting" width="20" height="20">
                            </sss-icon-header-group>
                            <span class="sss-menu__link-text">Cấu Hình</span>
                            <i class="sss-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="sss-menu__submenu sss-menu__submenu--classic sss-menu__submenu--left">
                            <ul class="sss-menu__subnav">
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/nhan-su" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý nhân sự
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/chuc-vu" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý chức vụ
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/phan-quyen" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý phân quyền
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/chi-nhanh" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý chi nhánh
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/loai-chat" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý loại chất
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/loai-nguyen-lieu" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý loại NPL
                                        </span>
                                    </a>
                                </li>
                                <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/nguyen-phu-lieu" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý nguyên phụ liệu
                                        </span>
                                    </a>
                                </li>
                                <!-- <li class="sss-menu__item " aria-haspopup="true">
                                    <a routerLink="/loai-nguyen-lieu" class="sss-menu__link ">
                                        <i class="sss-menu__link-bullet sss-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="sss-menu__link-text">
                                            Quản lý sản phẩm bán sẵn
                                        </span>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sss-header-toolbar">
                <a href="#" class="btn btn-instagram" style="font-size: 12px">
                    <sss-icon-header-group name="dn-shopping-cart" width="20" height="20"></sss-icon-header-group>
                    <span class="sss-menu__link-text">Tạo đơn</span>
                </a>
            </div>
        </div>
        <!-- end: Header Menu -->
    </div>
</div>