<!-- begin:: Header Mobile -->
<vqn-header-mobile></vqn-header-mobile>
<!-- end:: Header Mobile -->

<!-- begin:: Page -->
<div class="vqn-grid vqn-grid--hor vqn-grid--root">
    <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--ver vqn-page">
        <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--hor vqn-wrapper " id="sss_wrapper">

            <!-- begin:: Header -->
            <div id="sss_header" class="vqn-header vqn-grid__item  vqn-header--fixed" data-ktheader-minimize="on">
                <vqn-header-top></vqn-header-top>
                <vqn-header-bottom></vqn-header-bottom>
            </div>
            <!-- end:: Header -->

            <!-- begin::Container -->
            <div class="vqn-grid__item vqn-grid__item--fluid vqn-grid vqn-grid--ver vqn-grid--stretch">
                <router-outlet></router-outlet>
            </div>
            <!-- end::Container -->

            <!-- begin:: Footer -->
            <!-- <vqn-footer></vqn-footer> -->
            <!-- end:: Footer -->

        </div>
    </div>
</div>
<!-- end:: Page -->

<!-- begin::Scrolltop -->
<div id="sss_scrolltop" class="vqn-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->