<div class="vqn-grid__item vqn-grid__item--fluid vqn-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="vqn-portlet vqn-container--fluid">
                <div class="vqn-portlet__head">
                    <div class="vqn-portlet__head-label">
                        <h3 class="vqn-portlet__head-title">Thay đổi mật khẩu</h3>
                    </div>
                </div>
                <form class="vqn-form vqn-form--label-right" #f="ngForm" (ngSubmit)="updatePassword(f)">
                    <div class="vqn-portlet__body">
                        <div class="vqn-section vqn-section--first">
                            <div class="vqn-section__body">
                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="vqn-section__title vqn-section__title-sm">
                                            <b> Thay đổi hoặc khôi phục mật khẩu của bạn: </b>
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group validated row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Mật khẩu hiện tại:</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" class="form-control" name="oldPass" required
                                            minlength="5" [(ngModel)]="usermodel.oldPass" #oldPass="ngModel"
                                            placeholder="Nhập mật khẩu cũ">
                                        <div class="invalid-feedback" *ngIf="oldPass.errors &&  !invalid">
                                            Mật khẩu không đúng.!
                                        </div>
                                        <div [routerLink]="['/thay-doi-mat-khau']" routerLinkActive="router-link-active"
                                            class="vqn-link vqn-font-sm vqn-font-bold vqn-margin-t-5">
                                            Lấy lại mật khẩu?
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group validated row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Mật khẩu mới:
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" class="form-control" name="newPass" required
                                            minlength="5" [(ngModel)]="usermodel.newPass" #newPass="ngModel"
                                            placeholder="Nhập mật khẩu mới">
                                        <div class="invalid-feedback" *ngIf="newPass.errors &&  !invalid">
                                            Mật khẩu không hợp lệ.!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-last row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Xác nhận mật khẩu:
                                    </label>
                                    <div class="col-lg-9 col-xl-6 validated">
                                        <input type="password" class="form-control" name="confirmnewPass" required
                                            minlength="5" [(ngModel)]="usermodel.confirmnewPass"
                                            #confirmnewPass="ngModel" placeholder="Nhập lại mật khẩu mới">
                                        <div class="invalid-feedback"
                                            *ngIf="(usermodel?.newPass !== usermodel?.confirmnewPass) && usermodel.confirmnewPass">
                                            Mật khẩu không khớp. Mời nhập lại!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vqn-portlet__foot">
                        <div class="vqn-form__actions">
                            <div class="row">
                                <div class="col-lg-9 col-xl-9">
                                </div>
                                <div class="col-lg-3 col-xl-3">
                                    <button type="submit" class="btn btn-success vqn-margin-r-10" [disabled]="loading"
                                        [ngClass]="{'vqn-spinner vqn-spinner--right vqn-spinner--md vqn-spinner--light': loading}">
                                        Cập nhật mật khẩu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--End::App-->
</div>