<div class="vqn-footer  vqn-footer--extended  vqn-grid__item" id="vqn_footer">
    <div class="vqn-footer__top">
        <div class="vqn-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="vqn-footer__section">
                        <h3 class="vqn-footer__title">About</h3>
                        <div class="vqn-footer__content">
                            Whatever method you chosse,these nine will
                            make you re-think theway you craft healines
                            Why? Because they all have points in that are
                            worth from a point of view.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="vqn-footer__section">
                        <h3 class="vqn-footer__title">Quick Links</h3>
                        <div class="vqn-footer__content">
                            <div class="vqn-footer__nav">
                                <div class="vqn-footer__nav-section">
                                    <a href="#">General Reports</a>
                                    <a href="#">Dashboart Widgets</a>
                                    <a href="#">Custom Pages</a>
                                </div>
                                <div class="vqn-footer__nav-section">
                                    <a href="#">User Setting</a>
                                    <a href="#">Custom Pages</a>
                                    <a href="#">Intranet Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="vqn-footer__section">
                        <h3 class="vqn-footer__title">Get In Touch</h3>
                        <div class="vqn-footer__content">
                            <form action="#" class="vqn-footer__subscribe">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Email">
                                    <div class="input-group-append">
                                        <button class="btn btn-brand" type="button">Join</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vqn-footer__bottom">
        <div class="vqn-container">
            <div class="vqn-footer__wrapper">
                <div class="vqn-footer__logo">
                    <a href="/trang-chu">
                        <img alt="Logo" src="/assets/media/logos/logo-2.png">
                    </a>
                    <div class="vqn-footer__copyright">
                        2019
                        <a href="http://keenthemes.com/metronic" target="_blank">Keenthemes</a>
                    </div>
                </div>
                <div class="vqn-footer__menu">
                    <a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a>
                    <a href="http://keenthemes.com/metronic" target="_blank">Team</a>
                    <a href="http://keenthemes.com/metronic" target="_blank">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>