<div id="sss_header_mobile" class="sss-header-mobile  sss-header-mobile--fixed ">
    <div class="sss-header-mobile__logo">
        <a href="/trang-chu">
            <img alt="Logo" src="/assets/media/logos/logo-2.png" />
        </a>
    </div>
    <div class="sss-header-mobile__toolbar">
        <button class="sss-header-mobile__toolbar-toggler" id="sss_header_mobile_toggler">
            <span></span>
        </button>
        <button class="sss-header-mobile__toolbar-topbar-toggler" id="sss_header_mobile_topbar_toggler">
            <i class="flaticon-more-1"></i>
        </button>
    </div>
</div>